#version=RHEL7
# System authorization information
auth --enableshadow --passalgo=sha512
# Use network installation
url --url="http://172.16.100.10/Centos/"
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=sda
reboot
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8
# Network information
#network  --bootproto=dhcp --device=eno33554960 --ipv6=auto --activate --nodefault
network  --bootproto=dhcp --device=eno16777736 --ipv6=auto --activate
network  --hostname=CentosTest
# Root password
rootpw toilatam
user ttp --name=ttp --password=toilatam
# System services
services --enabled="chronyd"
# System timezone
timezone Asia/Ho_Chi_Minh
# System bootloader configuration
bootloader --location=mbr 
# Partition clearing information
clearpart --all
# Disk partitioning information
part pv.20 --fstype="lvmpv" --ondisk=sda --size=19979
part /boot --fstype="xfs" --ondisk=sda --size=500
volgroup centos --pesize=4096 pv.20
logvol /  --fstype="xfs" --grow --maxsize=51200 --size=1024 --name=root --vgname=centos
logvol swap  --fstype="swap" --size=2048 --name=swap01 --vgname=centos

%packages
@compat-libraries
@core
wget
%end
%post
mkdir -p /root/test
cd /root/test
wget https://raw.githubusercontent.com/ThanhTamPotter/thuctap012017/master/TamNT/PXE-Kickstart/config_files/anaconda-ks-forCentos7.cfg
%end